:host {
    ::ng-deep {
        .cardExercicio {
            border: 3px solid var(--background-contrast);
            border-radius: 10px;
            padding: 10px;
        }

        .border {
            border: 2px solid var(--font-color);
            border-radius: 10px;
            padding: 10px;
        }

        .border-title {
            background-color: var(--background);
            padding: 0 10px;
            position: relative;
            top: 13px;
            margin-top: -15px;
        }
    }
}