<div class="botoes-acao">
  <div class="descartar">
    <button mat-button class="warn" (click)="onSalvarOuCancelar.emit()">Descartar</button>
  </div>
  <div class="salvar">
    <button mat-button (click)="salvarTreino()">Concluir</button>
  </div>
</div>
<div class="nmTreino">
  <span>{{treinoAtual.nmTreino}}</span>
</div>
<div class="text-center">
  <calendario label="Data Treino" [(data)]="treinoAtual.dtTreino" (onChangeData)="needAtualizarTreino = true">
  </calendario>
</div>
<div class="treinoAtual">
  <app-treino-diario-atual #TreinoDiarioAtual [treinoAtual]="treinoAtual"
    (salvarTreino)="salvarTreino()"></app-treino-diario-atual>
</div>