<mat-dialog-content class="mat-typography">
  <div>
    <div>
      <button (click)="navigate('/treinos-preset')">
        <mat-icon>assignment</mat-icon>
        Criar Treino Predefinido
      </button>
    </div>
    <div>
      <button (click)="navigate('/treinos-diarios')">
        <mat-icon>fitness_center</mat-icon>
        Criar Treino Diário
      </button>
    </div>
    <div>
      <button (click)="navigate('/conta')">
        <mat-icon>account_circle</mat-icon>
        Conta
      </button>
    </div>
  </div>
</mat-dialog-content>