<mat-dialog-content class="mat-typography">
  <div>
    <button (click)="navigate('/treinos-preset')">
      <mat-icon>assignment</mat-icon>
      Criar Treino Predefinido
    </button>
    <button (click)="navigate('/treinos-diarios')">
      <mat-icon>fitness_center</mat-icon>
      Criar Treino Diário
    </button>
    <button (click)="navigate('/conta')">
      <mat-icon>account_circle</mat-icon>
      Conta
    </button>
    <button (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Logout
    </button>
  </div>
</mat-dialog-content>