<div (keyup.enter)="filtrar()">
  <div class="form-group">
    <label for="nmTreino">Nome Treino</label>
    <input id="nmTreino" type="text" [(ngModel)]="filtro.nmTreino">
  </div>
  <div class="flex datas">
    <div class="dtTreino">
      <calendario [(data)]="filtro.dtTreinoIni" label="Data Treino Inicial"></calendario>
    </div>
    <div class="dtTreino">
      <calendario [(data)]="filtro.dtTreinoFim" label="Data Treino Final"></calendario>
    </div>
  </div>
  <div class="filtrar">
    <button mat-button class="w-full" (click)="filtrar()">Filtrar</button>
  </div>
  <div class="flex justify-content-end addTreino">
    <button mat-button class="secondary" (click)="adicionarTreino.emit()">Adicionar Treino</button>
  </div>
</div>