#layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

title-bar {
    display: flex;
    background-color: var(--background-contrast);
}

nav-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--background-contrast);
}

.card {
    padding: 5px;
    height: calc(100% - 70px - 42px - 10px); // 70px da navbar e 42px do titlebar e 10px do padding 5 do card
}