<div class="botoes-acao">
  <div class="descartar">
    <button mat-button class="warn" (click)="onSalvarOuCancelar.emit()">Cancelar</button>
  </div>
  <div class="salvar">
    <button mat-button (click)="salvarPreset()">Salvar</button>
  </div>
</div>
<div class="nmPreset">
  <input mat-input type="text" [(ngModel)]="presetAtual.nmPreset" placeholder="Nome Treino"
    (change)="needAtualizarPreset = true">
</div>
<div class="text-center">
  <input mat-input class="divPreset" type="text" [(ngModel)]="presetAtual.divPreset" placeholder="Divisão Treino"
    (change)="needAtualizarPreset = true">
</div>
<div class="listaExPreset">
  <app-lista-exercicios-preset #ListaExericiosPreset [idPreset]="presetAtual?.id"></app-lista-exercicios-preset>
</div>