.botoes-acao {
    z-index: 100;
    background-color: var(--background);
    position: absolute;
    bottom: 0;
    width: calc(100% - 5px);
    height: 40px;
}

.nmPreset {
    text-align: center;
}

.descartar {
    position: absolute;
    bottom: 4px;
    left: 5px; // 5px do padding do card
}

.salvar {
    position: absolute;
    bottom: 4px;
    right: 5px; // 5px do padding do card
}

.listaExPreset {
    position: relative;
    overflow-y: auto;
    margin-top: 5px;
    height: calc(100% - 40px - 69px - 5px); // 40px dos botões de ação, 69px do nome do treino e divisão treino e 5px do margin-top
}

#nmPreset {
    width: 90%;
}

#divPreset {
    max-width: 140px;
    margin-top: 5px;
}