
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$treinos-gym-primary: mat.define-palette(mat.$indigo-palette);
$treinos-gym-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$treinos-gym-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$treinos-gym-theme: mat.define-light-theme((
  color: (
    primary: $treinos-gym-primary,
    accent: $treinos-gym-accent,
    warn: $treinos-gym-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($treinos-gym-theme);

:root {
    --background: #202124;
    --background-active: #3c4043;
    --background-contrast: #2f3135;
    --font-color: #e8eaed;
    --button-color: #303134;
    --button-active: #3c4043;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--background);
    color: var(--font-color);
    font-size: 22px;
}

button {
    background-color: var(--button-color) !important;
    color: var(--font-color) !important;
    cursor: pointer;
    font-size: 22px;

    &:active {
        background-color: var(--button-active) !important;
    }
}

input[type="checkbox"] {
    appearance: none !important;
    -webkit-appearance: none !important;

    width: 20px !important;
    height: 20px !important;
    border-radius: 4px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    margin: 0;
    margin-right: 5px;

    &:not(:checked) {
        background-color: var(--font-color) !important;
    }

    &:checked {
        background-color: var(--button-active) !important;

    }

    &:checked:after {
        content: '\2713' !important; // Código Unicode para o caractere "✔"
        font-size: 16px;
        color: #fff !important;
    }
}

.flex {
    display: flex !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
