@use '@angular/material' as mat;

@include mat.core();

$treinos-gym-primary: mat.define-palette(mat.$indigo-palette);
$treinos-gym-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$treinos-gym-warn: mat.define-palette(mat.$red-palette);

$treinos-gym-theme: mat.define-light-theme((color: (primary: $treinos-gym-primary,
                accent: $treinos-gym-accent,
                warn: $treinos-gym-warn,
            )));
@include mat.all-component-themes($treinos-gym-theme);

:root {
    --background: #202124;
    --background-active: #3c4043;
    --background-contrast: #2f3135;
    --font-color: #e8eaed;
    --button-color: #303134;
    --button-active: #3c4043;
    --secondary-color: #3f51b5;
    --warn-color: #f44336;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--background);
    color: var(--font-color);
    font-size: 22px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Estilos de classe global

.flex {
    display: flex !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.align-items-start {
    align-items: start !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-end {
    align-items: flex-end !important;
}

.align-self-start {
    align-self: start !important;
}

.align-self-center {
    align-self: center !important;
}

.align-self-end {
    align-self: flex-end !important;
}

.text-center {
    text-align: center !important;
}

.display-none {
    display: none !important;
}

.w-full {
    width: 100% !important;
}

.w-auto {
    width: auto !important;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.warn {
    background-color: var(--warn-color) !important;
}

//

button {
    background-color: var(--button-color) !important;
    color: var(--font-color) !important;
    cursor: pointer;
    font-size: 22px;

    &:active {
        background-color: var(--button-active) !important;
    }
}

.secondary {
    background-color: var(--secondary-color) !important;
}

label {
    font-size: 20px !important;
}

input[type="text"] {
    font-size: 22px;
    background-color: var(--button-color);
    color: var(--font-color);
    border: 2px solid var(--background-active);
    outline: none !important;
}

input[type="number"] {
    font-size: 22px;
    background-color: var(--button-color);
    color: var(--font-color);
    border: 2px solid var(--background-active);
    outline: none !important;
    width: calc(100% - 8px);
}

textarea {
    font-size: 22px;
    background-color: var(--button-color);
    color: var(--font-color);
    font-family: roboto;
    max-height: 60px;
    outline: none !important;
    resize: none;
}

input[type="checkbox"] {
    appearance: none !important;
    -webkit-appearance: none !important;

    width: 20px !important;
    height: 20px !important;
    border-radius: 4px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    margin: 0;
    margin-right: 5px;

    &:not(:checked) {
        background-color: var(--font-color) !important;
    }

    &:checked {
        background-color: var(--button-active) !important;

    }

    &:checked:after {
        content: '\2713' !important; // Código Unicode para o caractere "✔"
        font-size: 16px;
        color: #fff !important;
    }
}

input[readonly] {
    background-color: var(--background) !important;
}

textarea[readonly] {
    background-color: var(--background) !important;
}

#menu-dialog {
    .mat-mdc-dialog-surface {
        border-radius: 0 !important;
    }

    .mdc-dialog__surface::before {
        border: none !important;
    }

    .mat-mdc-dialog-content {
        background-color: var(--button-color) !important;
    }
}

.mat-mdc-select-panel {
    background-color: var(--button-color) !important;
}

.mat-mdc-option,
.mat-calendar-body-cell-content,
.mat-calendar-body-label,
.mat-calendar-table-header th {
    color: var(--font-color) !important;
}

.mat-datepicker-content {
    background-color: var(--button-color) !important;
    color: var(--font-color) !important;
}

.mat-calendar-controls {
    .mat-calendar-period-button {
        background-color: var(--background) !important;
    }
}

.mat-calendar-arrow {
    fill: var(--font-color) !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    border-color: var(--mat-datepicker-calendar-date-selected-state-background-color) !important;
}

mat-dialog-content {
    background-color: var(--background) !important;
    color: var(--font-color) !important;
}

.mat-divider {
    border-top-color: var(--font-color) !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: var(--background) !important;
    color: var(--font-color) !important;
    padding: 10px;
}